{{ $file := .Get "file" }}
{{ $data := index .Site.Data.publications $file }}
{{ $counter := 0 }}
{{ range $data }}
        {{ $counter = add $counter 1 }}
{{ end }}

{{ range $data }}
<table>
    <thead>
    </thead>
    <tbody>
                    <tr>
                        <td>{{ $counter}}</td>
            {{$counter = add $counter -1 }}
                        <td style="width: 100%;">
                            {{ .authors }}
                            <br>
                            <a href = "{{ .url}}"> {{ .url }} </a>
                            <br>
                            {{ .title}}
                        </td>
                    </tr>
        {{ end }}
    </tbody>
  </table>
